In [2]:
!pip install dalex
!pip install scikit-plot
!pip install shap
!pip install eli5
!pip install lime

Collecting dalex
  Downloading dalex-1.4.1.tar.gz (1.0 MB)
     |████████████████████████████████| 1.0 MB 26.2 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from dalex) (57.4.0)
Requirement already satisfied: pandas>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from dalex) (1.3.5)
Requirement already satisfied: numpy>=1.18.4 in /usr/local/lib/python3.7/dist-packages (from dalex) (1.21.6)
Requirement already satisfied: plotly>=4.12.0 in /usr/local/lib/python3.7/dist-packages (from dalex) (5.5.0)
Requirement already satisfied: tqdm>=4.48.2 in /usr/local/lib/python3.7/dist-packages (from dalex) (4.64.0)
Collecting scipy>=1.5.4
  Downloading scipy-1.7.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (38.1 MB)
     |████████████████████████████████| 38.1 MB 1.3 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.2->dalex) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.1.2->dalex) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly>=4.12.0->dalex) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=4.12.0->dalex) (8.0.1)
Building wheels for collected packages: dalex
  Building wheel for dalex (setup.py) ... done
  Created wheel for dalex: filename=dalex-1.4.1-py3-none-any.whl size=1042860 sha256=8742c75a364fd5a13a70eceb32ec62fbd45e2d6fe712a57f141311045e667863
  Stored in directory: /root/.cache/pip/wheels/8c/8e/1b/95d59374d386e8e495aed6cbab4c4b6d72be73993a424c5e12
Successfully built dalex
Installing collected packages: scipy, dalex
  Attempting uninstall: scipy
    Found existing installation: scipy 1.4.1
    Uninstalling scipy-1.4.1:
      Successfully uninstalled scipy-1.4.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed dalex-1.4.1 scipy-1.7.3
Collecting scikit-plot
  Downloading scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (1.1.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (1.0.2)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (3.2.2)
Requirement already satisfied: scipy>=0.9 in /usr/local/lib/python3.7/dist-packages (from scikit-plot) (1.7.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (3.0.8)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.21.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.0->scikit-plot) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.4.0->scikit-plot) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->scikit-plot) (3.1.0)
Installing collected packages: scikit-plot
Successfully installed scikit-plot-0.3.7
Collecting shap
  Downloading shap-0.40.0-cp37-cp37m-manylinux2010_x86_64.whl (564 kB)
     |████████████████████████████████| 564 kB 25.8 MB/s
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from shap) (0.51.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from shap) (1.3.5)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.7/dist-packages (from shap) (4.64.0)
Collecting slicer==0.0.7
  Downloading slicer-0.0.7-py3-none-any.whl (14 kB)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from shap) (1.3.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from shap) (1.7.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from shap) (1.0.2)
Requirement already satisfied: packaging>20.9 in /usr/local/lib/python3.7/dist-packages (from shap) (21.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from shap) (1.21.6)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>20.9->shap) (3.0.8)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba->shap) (0.34.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from numba->shap) (57.4.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->shap) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->shap) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->shap) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->shap) (1.1.0)
Installing collected packages: slicer, shap
Successfully installed shap-0.40.0 slicer-0.0.7
Collecting eli5
  Downloading eli5-0.11.0-py2.py3-none-any.whl (106 kB)
     |████████████████████████████████| 106 kB 19.7 MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from eli5) (1.7.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from eli5) (1.15.0)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.7/dist-packages (from eli5) (21.4.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from eli5) (2.11.3)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from eli5) (1.0.2)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from eli5) (1.21.6)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from eli5) (0.8.9)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->eli5) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->eli5) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->eli5) (2.0.1)
Installing collected packages: eli5
Successfully installed eli5-0.11.0
Collecting lime
  Downloading lime-0.2.0.1.tar.gz (275 kB)
     |████████████████████████████████| 275 kB 26.2 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from lime) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lime) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from lime) (1.7.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from lime) (4.64.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from lime) (1.0.2)
Requirement already satisfied: scikit-image>=0.12 in /usr/local/lib/python3.7/dist-packages (from lime) (0.18.3)
Requirement already satisfied: networkx>=2.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image>=0.12->lime) (2.6.3)
Requirement already satisfied: imageio>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image>=0.12->lime) (2.4.1)
Requirement already satisfied: pillow!=7.1.0,!=7.1.1,>=4.3.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image>=0.12->lime) (7.1.2)
Requirement already satisfied: PyWavelets>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from scikit-image>=0.12->lime) (1.3.0)
Requirement already satisfied: tifffile>=2019.7.26 in /usr/local/lib/python3.7/dist-packages (from scikit-image>=0.12->lime) (2021.11.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->lime) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->lime) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->lime) (3.0.8)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->lime) (1.4.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->lime) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->lime) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->lime) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->lime) (3.1.0)
Building wheels for collected packages: lime
  Building wheel for lime (setup.py) ... done
  Created wheel for lime: filename=lime-0.2.0.1-py3-none-any.whl size=283857 sha256=91be5e457435fa101e662d907e58dda49c675bb87f8b188838e6251461aff53e
  Stored in directory: /root/.cache/pip/wheels/ca/cb/e5/ac701e12d365a08917bf4c6171c0961bc880a8181359c66aa7
Successfully built lime
Installing collected packages: lime
Successfully installed lime-0.2.0.1

In [103]:
# import pandas for data wrangling
import pandas as pd
# import numpy for vectorize data manipulation
import numpy as np
# import matplotlib.pyplot module for data visualization
import matplotlib.pyplot as plt
# import seaborn for data visualization
import seaborn as sns
# import scipy for certain statistical function
from scipy import stats

# import train and test split method from scikit-learn
from sklearn.model_selection import train_test_split
# import metrics method for model evaluation
import sklearn.metrics as metrics
# import random forest classifier
from sklearn.ensemble import RandomForestClassifier
# import multi-layer perceptron
from sklearn.neural_network import MLPClassifier
# import decision tree model as surrogate model
from sklearn.tree import DecisionTreeClassifier
# import tree module
from sklearn import tree

# import xgboost classifier
from xgboost import XGBClassifier

# import dalex to explain complex model
import dalex as dx

# load statsmodel module 
import statsmodels.api as sm
import statsmodels.formula.api as smf

# load scikit-plot modules
import scikitplot as skplt

# load shap package for shap explanation
import shap

# load eli5
import eli5

# load LimeTabularExplainer for LIME method
from lime.lime_tabular import LimeTabularExplainer

In [104]:
# load dataset
fraud_data = pd.read_csv("https://raw.githubusercontent.com/hadimaster65555/dataset_for_teaching/main/dataset/car_insurance_fraud_dataset/insuranceFraud.csv")

In [105]:
fraud_data.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,10/17/2014,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,6/27/2006,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,9/6/2000,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,5/25/1990,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,6/6/2014,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [106]:
fraud_data[fraud_data.columns[19:32]]

,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,witnesses,police_report_available,total_claim_amount
0,Side Collision,Major Damage,Police,SC,Columbus,9935 4th Drive,5,1,YES,1,2,YES,71610
1,?,Minor Damage,Police,VA,Riverwood,6608 MLK Hwy,8,1,?,0,0,?,5070
2,Rear Collision,Minor Damage,Police,NY,Columbus,7121 Francis Lane,7,3,NO,2,3,NO,34650
3,Front Collision,Major Damage,Police,OH,Arlington,6956 Maple Drive,5,1,?,1,2,NO,63400
4,?,Minor Damage,None,NY,Arlington,3041 3rd Ave,20,1,NO,0,1,NO,6500
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Front Collision,Minor Damage,Fire,NC,Northbrook,6045 Andromedia St,20,1,YES,0,1,?,87200
996,Rear Collision,Major Damage,Fire,SC,Northbend,3092 Texas Drive,23,1,YES,2,3,?,108480
997,Side Collision,Minor Damage,Police,NC,Arlington,7629 5th St,4,3,?,2,3,YES,67500
998,Rear Collision,Major Damage,Other,NY,Arlington,6128 Elm Lane,2,1,?,0,1,YES,46980
999,?,Minor Damage,Police,WV,Columbus,1416 Cherokee Ridge,6,1,?,0,3,?,5060

In [107]:
# check churn_data data structure and its types
fraud_data.dtypes

months_as_customer               int64
age                              int64
policy_number                    int64
policy_bind_date                object
policy_state                    object
policy_csl                      object
policy_deductable                int64
policy_annual_premium          float64
umbrella_limit                   int64
insured_zip                      int64
insured_sex                     object
insured_education_level         object
insured_occupation              object
insured_hobbies                 object
insured_relationship            object
capital-gains                    int64
capital-loss                     int64
incident_date                   object
incident_type                   object
collision_type                  object
incident_severity               object
authorities_contacted           object
incident_state                  object
incident_city                   object
incident_location               object
incident_hour_of_the_day         int64
number_of_vehicles_involved      int64
property_damage                 object
bodily_injuries                  int64
witnesses                        int64
police_report_available         object
total_claim_amount               int64
injury_claim                     int64
property_claim                   int64
vehicle_claim                    int64
auto_make                       object
auto_model                      object
auto_year                        int64
fraud_reported                  object
dtype: object

In [108]:
# check data dimension
fraud_data.shape

(1000, 39)

In [109]:
# check null values inside dataset
fraud_data.isna().sum()

months_as_customer             0
age                            0
policy_number                  0
policy_bind_date               0
policy_state                   0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_zip                    0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_hobbies                0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_date                  0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_location              0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
auto_make                      0
auto_model                     0
auto_year                      0
fraud_reported                 0
dtype: int64

Soal no 1. Identifikasi berapa banyak nilai null yang terdapat di dalam dataset
Jawab : Sebelumnya Peneliti sudah mengambil data asuransi digithub, didalam data tersebut tidak ada data yang null akan tetapi dari variable yang dilihat ada ketidak cocokan nilai dari varibale (berbeda) maka dari itu peneliti ingin mengetahui data mana sih yang salah tidak tepat didapatlah seperti dibawah ini 
untuk variable data police_report_available terdapat nilai yang berisi ? sebanyak 343, untuk variable data umbrella_limit terdapat nilai yang berisi 0 sebanyak 798, untuk variable data capital gains terdapat nilai yang berisi 0 sebanyak 508, untuk variable data capital loss terdapat nilai yang berisi 0 sebanyak 475, untuk variable data collision terdapat nilai yang berisi ? sebanyak 178, untuk variable data prpoperty damage terdapat nilai yang berisi ? sebanyak 360.

In [110]:
Police =(fraud_data['police_report_available'] == '?').sum()
Police

343

In [111]:
umbrella =(fraud_data['umbrella_limit'] == 0 ).sum()
umbrella

798

In [112]:
capital =(fraud_data['capital-gains'] == 0 ).sum()
capital

508

In [113]:
capital1 =(fraud_data['capital-loss'] == 0 ).sum()
capital1

475

In [114]:
collision =(fraud_data['collision_type'] == '?' ).sum()
collision

178

In [115]:
collision =(fraud_data['property_damage'] == '?' ).sum()
collision

360

2. Lakukan treatment pada kolom yang bernilai NA atau NULL. Berikan alasan anda mengapa anda melakukan treatment tertentu pada nilai NA tersebut
Jawab : Peneliti ingin menghapus nilai2 yang tidak sesuai atau salah dalam pengisiannya, karena akan berpengaruh pada analisa selanjutnya, maka dari itu perlu menghapus baris yang dirasa kurang sesuai pada variable2 tertentu seperti berikut.

In [116]:
baru = fraud_data[ fraud_data['umbrella_limit'] == 0 ].index
fraud_data.drop(baru , inplace=True)

In [117]:
baru = fraud_data[ fraud_data['police_report_available'] == '?' ].index
fraud_data.drop(baru , inplace=True)

In [118]:
baru = fraud_data[ fraud_data['capital-gains'] == 0 ].index
fraud_data.drop(baru , inplace=True)

In [119]:
baru = fraud_data[ fraud_data['capital-loss'] == 0 ].index
fraud_data.drop(baru , inplace=True)

In [120]:
baru = fraud_data[ fraud_data['collision_type'] == '?' ].index
fraud_data.drop(baru , inplace=True)

In [121]:
baru = fraud_data[ fraud_data['property_damage'] == '?' ].index
fraud_data.drop(baru , inplace=True)
fraud_data.head(10)

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
35,147,33,129872,8/8/2010,OH,100/300,1000,1334.15,6000000,479224,...,0,YES,53100,10620,5310,37170,Mercedes,C300,1995,Y
66,107,31,356590,8/17/2011,IN,250/500,500,1239.22,7000000,476458,...,1,NO,89700,13800,13800,62100,Audi,A5,2009,Y
125,206,39,965768,7/27/2014,IN,250/500,1000,1302.40,6000000,603948,...,3,YES,36300,3300,9900,23100,Ford,Escape,2013,N
212,335,50,565564,2/7/2007,OH,100/300,1000,1538.26,6000000,615346,...,3,YES,34320,8580,4290,21450,Volkswagen,Passat,2009,N
231,298,46,667021,5/2/2007,OH,500/1000,1000,1138.42,6000000,477678,...,3,YES,33550,3050,6100,24400,Volkswagen,Passat,2005,N
346,429,56,804410,12/12/1998,OH,250/500,1000,1127.89,6000000,460722,...,0,YES,39480,6580,6580,26320,Suburu,Forrestor,2002,N
394,157,31,121439,8/2/1990,IN,500/1000,500,1257.83,7000000,458622,...,2,NO,47700,4770,9540,33390,Accura,TL,2011,Y
415,108,32,439828,9/7/2006,OH,500/1000,2000,1257.00,4000000,616341,...,3,NO,61270,5570,11140,44560,Suburu,Legacy,1999,N
471,195,38,238412,5/18/1993,IL,500/1000,2000,1294.93,6000000,477356,...,2,NO,64620,7180,0,57440,Dodge,Neon,2003,N
561,272,41,337158,4/8/1991,OH,250/500,2000,945.73,5000000,435663,...,0,NO,84100,16820,8410,58870,Ford,Escape,2009,Y

In [122]:
# Peneliti ingin mengubah Variable fraud_reported menjadi kategori angka
fraud_data['fraud_reported'] = np.where((fraud_data.fraud_reported == 'Y'),1 ,0)
fraud_data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
35,147,33,129872,8/8/2010,OH,100/300,1000,1334.15,6000000,479224,...,0,YES,53100,10620,5310,37170,Mercedes,C300,1995,1
66,107,31,356590,8/17/2011,IN,250/500,500,1239.22,7000000,476458,...,1,NO,89700,13800,13800,62100,Audi,A5,2009,1
125,206,39,965768,7/27/2014,IN,250/500,1000,1302.40,6000000,603948,...,3,YES,36300,3300,9900,23100,Ford,Escape,2013,0
212,335,50,565564,2/7/2007,OH,100/300,1000,1538.26,6000000,615346,...,3,YES,34320,8580,4290,21450,Volkswagen,Passat,2009,0
231,298,46,667021,5/2/2007,OH,500/1000,1000,1138.42,6000000,477678,...,3,YES,33550,3050,6100,24400,Volkswagen,Passat,2005,0
346,429,56,804410,12/12/1998,OH,250/500,1000,1127.89,6000000,460722,...,0,YES,39480,6580,6580,26320,Suburu,Forrestor,2002,0
394,157,31,121439,8/2/1990,IN,500/1000,500,1257.83,7000000,458622,...,2,NO,47700,4770,9540,33390,Accura,TL,2011,1
415,108,32,439828,9/7/2006,OH,500/1000,2000,1257.00,4000000,616341,...,3,NO,61270,5570,11140,44560,Suburu,Legacy,1999,0
471,195,38,238412,5/18/1993,IL,500/1000,2000,1294.93,6000000,477356,...,2,NO,64620,7180,0,57440,Dodge,Neon,2003,0
561,272,41,337158,4/8/1991,OH,250/500,2000,945.73,5000000,435663,...,0,NO,84100,16820,8410,58870,Ford,Escape,2009,1
663,172,33,100804,2/24/2012,IL,100/300,1000,1459.96,6000000,600127,...,1,NO,41690,7580,7580,26530,Saab,95,1999,0
690,254,41,496067,12/22/1995,IL,250/500,500,1581.27,5000000,603827,...,2,NO,63470,5770,11540,46160,BMW,X6,1999,0
715,96,29,465065,12/24/2006,IN,250/500,1000,1274.70,5000000,618493,...,3,YES,55400,5540,11080,38780,Chevrolet,Silverado,2004,1
794,320,48,787351,4/28/2013,IL,250/500,2000,1730.49,7000000,443342,...,0,NO,56160,4680,9360,42120,Saab,95,1995,0

3. Analisis modeling berdasarkan data diatas
Jawab : Dalam menganalisa variable prediktor dan target peneliti menyeleksi dari variable yang sudah tersedia apakah ada pengaruh atau tidak sebelumnya yaitu dengan menggunakan korelasi.
peneliti sudah membuang data dikarenakan memiliki korelasi negatif dan rendah = months_as_customer	, age, policy_number, policy_deductable, policy_annual_premium, capital gains, capital loss, insured_zip: kode pos nasabah, insured_hobbies: hobi nasabah, authorities_contacted: pihak berwajib yang dihubungi, witness: jumlah saksi mata, auto_make, auto_model, auto_year

In [124]:
fraud_data.corr()

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year,fraud_reported
months_as_customer,1.000000,0.982977,0.571218,0.111182,0.076459,0.167585,-0.295086,0.260956,0.449292,-0.335938,-0.133595,0.328981,-0.280841,-0.387001,-0.100697,-0.366944,-0.365810,-0.028927,-0.505532
age,0.982977,1.000000,0.652989,0.155139,0.113079,0.142269,-0.239588,0.339371,0.388010,-0.288421,-0.163396,0.360245,-0.204967,-0.392376,-0.139291,-0.373735,-0.359858,-0.044885,-0.571780
policy_number,0.571218,0.652989,1.000000,0.078224,0.113404,0.004078,0.108898,0.317875,-0.129318,-0.128630,-0.081071,0.475089,0.185876,-0.359999,-0.434536,0.146797,-0.368507,0.147856,-0.512508
policy_deductable,0.111182,0.155139,0.078224,1.000000,-0.073666,-0.331416,-0.197082,0.055634,0.346985,0.569634,-0.020921,-0.246693,-0.168200,0.228564,0.120051,-0.338937,0.341471,-0.291559,-0.240063
policy_annual_premium,0.076459,0.113079,0.113404,-0.073666,1.000000,0.243003,0.344028,0.073128,0.238379,-0.190999,0.390908,0.321425,0.040467,-0.226666,-0.373622,0.032794,-0.188210,-0.458247,-0.420163
umbrella_limit,0.167585,0.142269,0.004078,-0.331416,0.243003,1.000000,-0.537016,-0.265533,-0.233199,-0.534692,0.401041,0.089562,-0.328395,-0.118534,-0.026786,-0.106141,-0.114805,0.188639,0.127827
insured_zip,-0.295086,-0.239588,0.108898,-0.197082,0.344028,-0.537016,1.000000,0.286560,0.040413,0.174510,0.176700,0.108599,0.670561,-0.306997,-0.335063,0.224080,-0.349761,0.010751,-0.330278
capital-gains,0.260956,0.339371,0.317875,0.055634,0.073128,-0.265533,0.286560,1.000000,0.280416,-0.158915,-0.197381,0.301588,0.004130,-0.301954,-0.081872,-0.016635,-0.353726,-0.191560,-0.235731
capital-loss,0.449292,0.388010,-0.129318,0.346985,0.238379,-0.233199,0.040413,0.280416,1.000000,-0.024967,0.215026,0.248267,-0.095534,-0.398017,-0.151958,-0.465470,-0.339816,-0.334640,-0.315257
incident_hour_of_the_day,-0.335938,-0.288421,-0.128630,0.569634,-0.190999,-0.534692,0.174510,-0.158915,-0.024967,1.000000,-0.297521,-0.444054,0.140782,0.303452,0.303886,0.046882,0.284591,-0.135598,0.064223
number_of_vehicles_involved,-0.133595,-0.163396,-0.081071,-0.020921,0.390908,0.401041,0.176700,-0.197381,0.215026,-0.297521,1.000000,0.203536,0.282689,-0.367294,-0.397477,-0.185670,-0.302908,0.267729,-0.048416
bodily_injuries,0.328981,0.360245,0.475089,-0.246693,0.321425,0.089562,0.108599,0.301588,0.248267,-0.444054,0.203536,1.000000,0.292929,-0.631666,-0.683607,-0.132745,-0.568833,-0.096838,-0.207600
witnesses,-0.280841,-0.204967,0.185876,-0.168200,0.040467,-0.328395,0.670561,0.004130,-0.095534,0.140782,0.282689,0.292929,1.000000,-0.360411,-0.545034,0.046635,-0.311823,0.396157,-0.268150
total_claim_amount,-0.387001,-0.392376,-0.359999,0.228564,-0.226666,-0.118534,-0.306997,-0.301954,-0.398017,0.303452,-0.367294,-0.631666,-0.360411,1.000000,0.709201,0.364746,0.967121,-0.005209,0.516274
injury_claim,-0.100697,-0.139291,-0.434536,0.120051,-0.373622,-0.026786,-0.335063,-0.081872,-0.151958,0.303886,-0.397477,-0.683607,-0.545034,0.709201,1.000000,0.034253,0.601888,0.130461,0.568042
property_claim,-0.366944,-0.373735,0.146797,-0.338937,0.032794,-0.106141,0.224080,-0.016635,-0.465470,0.046882,-0.185670,-0.132745,0.046635,0.364746,0.034253,1.000000,0.194080,0.113618,0.313792
vehicle_claim,-0.365810,-0.359858,-0.368507,0.341471,-0.188210,-0.114805,-0.349761,-0.353726,-0.339816,0.284591,-0.302908,-0.568833,-0.311823,0.967121,0.601888,0.194080,1.000000,-0.072927,0.409548
auto_year,-0.028927,-0.044885,0.147856,-0.291559,-0.458247,0.188639,0.010751,-0.191560,-0.334640,-0.135598,0.267729,-0.096838,0.396157,-0.005209,0.130461,0.113618,-0.072927,1.000000,0.248782
fraud_reported,-0.505532,-0.571780,-0.512508,-0.240063,-0.420163,0.127827,-0.330278,-0.235731,-0.315257,0.064223,-0.048416,-0.207600,-0.268150,0.516274,0.568042,0.313792,0.409548,0.248782,1.000000

In [126]:
# remove data from dataset
data = fraud_data.drop(
    ['months_as_customer','age','policy_number', 'policy_deductable','policy_annual_premium','capital-gains','capital-loss','insured_zip', 'insured_hobbies', 'authorities_contacted','witnesses','auto_make','auto_model','auto_year',],
    axis = 1
)
# check its first 20 rows
data.head(20)

,policy_bind_date,policy_state,policy_csl,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,incident_date,incident_type,...,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
35,8/8/2010,OH,100/300,6000000,MALE,High School,craft-repair,not-in-family,1/24/2015,Single Vehicle Collision,...,15,1,YES,2,YES,53100,10620,5310,37170,1
66,8/17/2011,IN,250/500,7000000,FEMALE,High School,tech-support,not-in-family,1/30/2015,Single Vehicle Collision,...,12,1,YES,0,NO,89700,13800,13800,62100,1
125,7/27/2014,IN,250/500,6000000,MALE,JD,craft-repair,unmarried,2/17/2015,Multi-vehicle Collision,...,12,3,NO,2,YES,36300,3300,9900,23100,0
212,2/7/2007,OH,100/300,6000000,MALE,High School,sales,other-relative,1/24/2015,Multi-vehicle Collision,...,12,3,YES,2,YES,34320,8580,4290,21450,0
231,5/2/2007,OH,500/1000,6000000,MALE,JD,prof-specialty,own-child,2/16/2015,Single Vehicle Collision,...,18,1,NO,2,YES,33550,3050,6100,24400,0
346,12/12/1998,OH,250/500,6000000,MALE,Associate,machine-op-inspct,own-child,1/28/2015,Single Vehicle Collision,...,0,1,YES,2,YES,39480,6580,6580,26320,0
394,8/2/1990,IN,500/1000,7000000,MALE,High School,farming-fishing,own-child,2/14/2015,Multi-vehicle Collision,...,2,4,NO,2,NO,47700,4770,9540,33390,1
415,9/7/2006,OH,500/1000,4000000,FEMALE,High School,machine-op-inspct,unmarried,1/11/2015,Single Vehicle Collision,...,23,1,NO,1,NO,61270,5570,11140,44560,0
471,5/18/1993,IL,500/1000,6000000,MALE,MD,tech-support,unmarried,2/14/2015,Multi-vehicle Collision,...,12,3,YES,1,NO,64620,7180,0,57440,0
561,4/8/1991,OH,250/500,5000000,MALE,MD,protective-serv,wife,2/4/2015,Single Vehicle Collision,...,23,1,NO,0,NO,84100,16820,8410,58870,1
663,2/24/2012,IL,100/300,6000000,FEMALE,High School,adm-clerical,wife,1/7/2015,Multi-vehicle Collision,...,15,3,NO,0,NO,41690,7580,7580,26530,0
690,12/22/1995,IL,250/500,5000000,FEMALE,PhD,handlers-cleaners,own-child,1/7/2015,Single Vehicle Collision,...,8,1,YES,2,NO,63470,5770,11540,46160,0
715,12/24/2006,IN,250/500,5000000,MALE,College,prof-specialty,other-relative,1/11/2015,Multi-vehicle Collision,...,15,3,YES,2,YES,55400,5540,11080,38780,1
794,4/28/2013,IL,250/500,7000000,MALE,College,transport-moving,not-in-family,1/24/2015,Multi-vehicle Collision,...,13,3,NO,2,NO,56160,4680,9360,42120,0

In [129]:
# typecasting date data to datetime
data['policy_bind_date']= data.policy_bind_date.astype('datetime64')
data['incident_date']= data.incident_date.astype('datetime64')
data.head()

,policy_bind_date,policy_state,policy_csl,umbrella_limit,insured_sex,insured_education_level,insured_occupation,insured_relationship,incident_date,incident_type,...,incident_hour_of_the_day,number_of_vehicles_involved,property_damage,bodily_injuries,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,fraud_reported
35,2010-08-08,OH,100/300,6000000,MALE,High School,craft-repair,not-in-family,2015-01-24,Single Vehicle Collision,...,15,1,YES,2,YES,53100,10620,5310,37170,1
66,2011-08-17,IN,250/500,7000000,FEMALE,High School,tech-support,not-in-family,2015-01-30,Single Vehicle Collision,...,12,1,YES,0,NO,89700,13800,13800,62100,1
125,2014-07-27,IN,250/500,6000000,MALE,JD,craft-repair,unmarried,2015-02-17,Multi-vehicle Collision,...,12,3,NO,2,YES,36300,3300,9900,23100,0
212,2007-02-07,OH,100/300,6000000,MALE,High School,sales,other-relative,2015-01-24,Multi-vehicle Collision,...,12,3,YES,2,YES,34320,8580,4290,21450,0
231,2007-05-02,OH,500/1000,6000000,MALE,JD,prof-specialty,own-child,2015-02-16,Single Vehicle Collision,...,18,1,NO,2,YES,33550,3050,6100,24400,0

4. Buatlah model machine learning dengan regresi logistik dan KNN sebagai baseline dari model, lalu random forest dan XgBoost sebagai model lanjutan
Jawab : Sebelumnya Peneliti ingin menggunakan model regresi logistik terlebih dahulu untuk melihat R-Squarenya

In [130]:
# assign 'fraud_reported' column to y 
y = fraud_data['fraud_reported'].values
# assign all columns except 'fraud_reported' to X
X = data.drop(['fraud_reported'], axis = 1).values

In [131]:
# check y dimension
y.shape

(14,)

In [132]:
# check X dimension
X.shape

(14, 24)

In [133]:
# split data to train and test data
# with test size is 30% of overall data
# use stratified sampling
# and set RNG to 1000
X_train_fraud_reported, X_test_fraud_reported, y_train_fraud_reported, y_test_fraud_reported = train_test_split(
    X,
    y,
    test_size = 0.3,
    stratify = y,
    random_state = 1000
)

In [134]:
# Check X_train_Response dimension
X_train_fraud_reported.shape

(9, 24)

In [135]:
# check y_train_Response class distribution
np.unique(y_train_fraud_reported, return_counts=True)[1]

array([6, 3])

In [136]:
# check X_test_Response dimension
X_test_fraud_reported.shape

(5, 24)

In [137]:
# check y_test_Response class distribution
np.unique(y_test_fraud_reported, return_counts=True)[1]

array([3, 2])

In [138]:
# Check y_train_sales dimension
y_train_fraud_reported.shape

(9,)

In [139]:
# Check y_test_sales dimension
y_test_fraud_reported.shape

(5,)

In [140]:
# define model
X_train_int = sm.add_constant(X_train_fraud_reported)
# fit regression model to data
logistic_reg_sm = sm.Logit(y_train_fraud_reported, X_train_int).fit()

TypeError: ignored

* Masih eror dalam analisa pengujian regresi logistik, dari peneliti berpikir eror karena data variable dependent masih dalam bentuk kata bukan angka seharusnya dirubah terlebih dahulu.